<nav class="navbar navbar-inverse">
    <ul class="nav navbar-nav">
      <li class="active"><a RouterLink="/home">  Admin  Panel</a></li>
       <!--<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Language<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a routerLink="#">topic</a></li>
          <li><a routerLink="#">topic</a></li>
        </ul>
      </li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Topic <span class="caret"></span></a>
         </li>
     <li><a RouterLink="/admin">Questions<span></span></a>

      </li>-->

    </ul>
    <ul class="nav navbar-nav navbar-right">

      <li><a (click) = "logout()"><span class="glyphicon glyphicon-log-out"></span>Logout</a></li>
    </ul>

</nav>




<div class="sideBar">
    <div class="sideHeading">
        <a style="color:black;">WELCOME !</a>
    </div>

    <div class="navButtons">
        <div class="mytasks">
            <div id="mytasks" class= "navItem" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" >
                <a  style="color:purple;" [routerLink]="['/home']">
                     &ensp;Add Questions
                </a>
            </div>
        </div>
        <div class="projects">
            <div id="projects" class="navItem" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                <a style="color:purple;" [routerLink]="['/home', {outlets: {'childComponent':['addlanguage'] }}]">
                    &ensp;Add Language
                </a>
            </div>
        </div>
        <div class="inbox">
            <div id="inbox" class="navItem" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                <a style="color:purple;" [routerLink]="['/home', {outlets: {'childComponent':['addtopic'] }}]">

                    &ensp;Add Topic
                </a>
            </div>
        </div>
        <div class="calendar">
            <div id="myquestions" class="navItem" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                <a style="color:purple;" [routerLink]="['/home', {outlets: {'childComponent':['getquestions'] }}]">

                    &ensp;Question Bank
                </a>
            </div>
        </div>
    </div>
</div>







