<div style="padding:5% 20%;">
<form action="" method="post" #addlanguage_form="ngForm" (ngSubmit)="addlanguage(addlanguage_form.value)" name="addlanguage_form">
  <p><input type="text" name="language"  id= "newlanguage" placeholder="Add New Language"  class="form-control"  required [(ngModel)]="newlanguage"></p>
  <input type="submit" value="Add New Language" id="addlanguage" class="btn btn-primary btn-large" style="margin-top">
</form>
</div>
