<div style="padding:5% 20%;">
  <form action="" method="post" #question_form="ngForm" id="a" (ngSubmit)="gettopics(question_form.value)" name="question_form" >

  <label for="language">Language</label>
   <select name="language" class="form-control" id="language"  required [(ngModel)]="language" >
       <option *ngFor="let language of languages" [value]="language">{{language}}</option>
   </select>
  <br>
    <input type="submit" name="submit" id="sub" class="btn btn-primary btn-large" style="margin-top:10px" value="Get Topics">
    <br><br>
    <table id="question_edit" style="width:100%" class="table table-striped" >
  <tr>
    <th>Topic</th>
    <th>Level</th>

  </tr>
  <tr *ngFor="let topic of topics">
    <td  style="max-width:200px;word-wrap:break-word" id="topic"  >{{topic.topic}}</td>
    <td  style="max-width:200px;word-wrap:break-word" id="level"  >{{topic.level}}</td>
    <input type="submit" value="start test" id="starttest" (click)= starttest(topic) class="btn btn-primary btn-large" style="margin-left:10px;">

  </tr>

</table>

  </form>
</div>
