
  <table id="questions" style="width:100%" class="table table-striped questions" >
  <tr>
    <th>Question</th>
    <th>Choice1</th>
    <th>Choice2</th>
    <th>Choice3</th>
    <th>Choice4</th>
    <th>Correct Answer</th>
  </tr>
  <tr *ngFor ="let question of questions" >
    <td  style="max-width:200px;word-wrap:break-word" id="q"  >{{question.question}}</td>
    <td style="max-width:200px;word-wrap:break-word"  id="c1"  >{{question.Choice1}}</td>
    <td style="max-width:200px;word-wrap:break-word"  id="c2" >{{question.Choice2}}</td>
    <td style="max-width:200px;word-wrap:break-word"  id="c3" >{{question.Choice3}}</td>
    <td style="max-width:200px;word-wrap:break-word"  id="c4"  >{{question.Choice4}}</td>
    <td style="max-width:200px;word-wrap:break-word"  id="ans" >{{question.answer}}</td>
  </tr>
  </table>


  <table id="answer" style="width:50%" class="table table-striped questions" >
  <tr>
    <th>Response</th>
    <th>Status</th>
   </tr>
  <tr *ngFor ="let answer of answers" >
    <td  style="max-width:200px;word-wrap:break-word" id="response"  >{{answer.response}}</td>
    <td style="max-width:200px;word-wrap:break-word"  id="correct"  >{{answer.status}}</td>
  </tr>
  </table>
<br><br>
  <label *ngFor="let abc of correctquestions">Total Correct question   "{{abc}}" </label><br><br>
  <input type="submit" value="Close" id="delete" class="btn btn-primary btn-large" style="margin-left:10px;" (click)="close()">

