<div style="padding:6% 20%;">
  <form action="" method="post" #user_form="ngForm" (ngSubmit)="deleteuserdetail(user_form.value)" name="user_form" >
    <label>First Name</label>
    <p><input type="text" name="first_name" id="first_name" class="form-control" value= "{{firstname}}"></p>
    <label>Last Name</label>
<p><input type="text" name="last_name"   class="form-control" value= "{{lastname}}"  ></p>
<label>Email Id</label>
<p><input type="text" name="email"   class="form-control" value= "{{email}}"  ></p>
<label>Mobile Number</label>
<p><input type="text" name="mobile_no"   class="form-control" value= "{{mobileno}}"  ></p>
<label>Account created</label>
<p>{{created}}</p>
<label>Account Updated</label>
<p>{{updated}}</p>
<input type="submit" name="submit" id="remove" class="btn btn-primary btn-large" style="margin-top:10px" value="Remove Account">

  </form>    <br><br>
</div>
