<div style="padding:5% 20%;">

<form action="" method="post" #addtopic_form="ngForm" (ngSubmit)="addtopic(addtopic_form.value)" name="addtopic_form">
  <p><input type="text" name="topic"  id= "newtopic" placeholder="Add New Topic"  class="form-control"  required [(ngModel)]="newtopic"></p>
   <p>Level</p>
    <select name="level" class="form-control" required [(ngModel)]="level">
       <option value="Easy">Easy</option>
       <option value="Medium">Medium</option>
       <option value="Hard">Hard</option>
    </select>
  <p>Language</p>
  <select name="language" class="form-control" id="language"  required [(ngModel)]="language" >
       <option *ngFor="let language of languages" [value]="language">{{language}}</option>
   </select>

  <input type="submit" value="Add New Topic" id="addtopic" class="btn btn-primary btn-large" style="margin-top:10px;">
</form>
</div>
