<div style="margin-left: 30px;">
<form action="" method="post" #question_form="ngForm"  *ngFor="let question of questiondata" name="question_form" >
  <label >{{question.question}}</label><br>
  <input type="radio" name="Choice" id="choice1" value="Choice1" (click)="setanswer(question, 'Choice1')" unchecked>{{question.Choice1}}<br>
<input type="radio" name="Choice" id="choice2" value="Choice2" (click)="setanswer(question, 'Choice2')"  unchecked>{{question.Choice2}}<br>
<input type="radio" name="Choice" id="choice3" value="Choice3"  (click)="setanswer(question, 'Choice3')" unchecked>{{question.Choice3}}<br>
<input type="radio" name="Choice" id="choice4" value="Choice4" (click)="setanswer(question, 'Choice4')"  unchecked>{{question.Choice4}}<br>
<br><br>
</form>

 <input type="submit" value="Submit Test" id="submit" (click)="getresult()"  class="btn btn-primary btn-large" style="margin-top:10px;">
</div>
