<div style="padding:5% 20%;">
  <form action="" method="post" #question_form="ngForm" (ngSubmit)="questions(question_form.value)" name="question_form" >

  <p>Enter question</p>
         <textarea rows="6" cols="100" name="question" id="questiontext"  class="form-control" required [(ngModel)]="questiontext"></textarea><br><br>
    <p>Enter choice</p>
    <p><input type="text" name="choice1"  id= "choice1" placeholder="A" required="" class="form-control"  required [(ngModel)]="choice1"></p>
    <p><input type="text" name="choice2"  id= "choice2" placeholder="B" required="" class="form-control"  required [(ngModel)]="choice2"></p>
    <p><input type="text"   name="choice3" id= "choice3" placeholder="C" required="" class="form-control" required [(ngModel)]="choice3"></p>
    <p><input type="text" name="choice4"  id= "choice4" placeholder="D" required="" class="form-control" required [(ngModel)]="choice4"></p><br>



<label for="answer">Answer</label>
<select class="form-control" name="answer" id="answer" required [(ngModel)]="answer" >
                <option name="answer">Choice1</option>
    <option name="answer">Choice2</option>
  <option name="answer">Choice3</option>
  <option name="answer">Choice4</option>
</select><br>

  <label for="languages">Language</label>
   <select name="language" class="form-control" id="languages"  required [(ngModel)]="language" >
       <option *ngFor="let language of languages" [value]="language">{{language}}</option>
   </select>
   <br>

  <label for="topic">Topic</label>
   <select name="topic" class="form-control" id="topic"  required [(ngModel)]="topic" >
       <option *ngFor="let topic of topics" [value]="topic">{{topic}}</option>
   </select>
   <br>
<input type="submit" name="submit" id="sub" class="btn btn-primary btn-large" style="margin-top:10px" value="Add Question">
  </form>    <br><br>
</div>
