<div class="topnav" id="myTopnav">

  <span id = "main" style="font-size:30px;cursor:pointer" (click)="openNav()">&#9776;</span>
  <span> <a [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" [routerLink]="['/userdashboard']">Home</a></span>
<span>
  <span><a [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" [routerLink]="['/userdashboard', {outlets: {'childComponentdashboard':['selecttest'] }}]">Test</a></span>
  </span>

</div>


<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
  <a [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" [routerLink]="['/userdashboard', {outlets: {'childComponentdashboard':['userdetail'] }}]">Myprofile</a>
  </div>
<br>


<router-outlet name="childComponentdashboard"></router-outlet>

